<div class="bootstrap-wrapper">
    <!-- <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Welcome to Rubrics, your exam portal.</h1>
                <div class="example-button-container text-center">
                    <button mat-fab color="warn" aria-label="Example icon button with a home icon">
                      <mat-icon>home</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="hero">

        <video autoplay muted loop plays-inline type="video/mp4" class="back-video">
            <source src="../../../assets/study-video.mp4">
        </video>

        <div class="content">
            <h1>Welcome to Rubrics, your online quiz portal.</h1>   
            <h3>Please login to access your quizzes.</h3>
        </div>
    </div>
</div>
