<mat-card class="mt30">

    <mat-action-list>

        <div matListItemLine> Menu </div>

        <!-- Home -->
        <!-- <button routerLink="/admin" mat-list-item>
            <mat-icon matListItemIcon>home</mat-icon> Home
        </button> -->

        <!-- Profile -->
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon matListItemIcon>account_circle</mat-icon> Profile
        </button>

        <!-- Categories -->
        <button mat-list-item routerLink="/admin/categories">
            <mat-icon matListItemIcon>list</mat-icon> View Categories
        </button>

        <!-- Add Category -->
        <button mat-list-item routerLink="/admin/add-category">
            <mat-icon matListItemIcon>playlist_add</mat-icon> Add Category
        </button>

        <!-- Quizzes -->
        <button mat-list-item routerLink="/admin/quizzes">
            <mat-icon matListItemIcon>quiz</mat-icon> View Quizzes
        </button>

        <!-- Add Quizzes -->
        <button mat-list-item routerLink="/admin/add-quiz">
            <mat-icon matListItemIcon>maps_ugc</mat-icon> Add Quiz
        </button>


    </mat-action-list>

</mat-card>